<!DOCTYPE html>

<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
   
   


    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>


    <script>

$(document).ready(function () {
  $(window).on('resize', function () {
    if ($(window).width() < 768) {
      $('.navbar').addClass('nav-collapsed');
    } else {
      $('.navbar').removeClass('nav-collapsed');
    }
  }).trigger('resize'); // Trigger resize function on page load
});


    </script>
   
  </head>

  <body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand slide-in " href="/">WordyStart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/word">Word of today</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/question">Question of today</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    
  </header>


  
   <div class="main-titles center-vertical">

    <div class="main-container">
      <h1>Hey there, today's theme: <span id="theme" class=""></span></h1>
      <p id="question"></p>
      <hr>
      <p>I hope this question was thought-provoking! </p>
  </div>
  

  </div>
  <script>
    function changeContent() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var responseJson = JSON.parse(this.responseText);

                
                document.getElementById("theme").innerText = responseJson.theme;
                document.getElementById("question").innerText = responseJson.question;
             
            }
        };

        // Specify the URL you want to retrieve
        var url = "/results";

        xhttp.open("GET", url, true);
        xhttp.send();
    }

    // Execute changeContent when the window has finished loading
    window.onload = function() {
        changeContent();
    };
</script>


  


  </body>


</html>